            meta.hashed_address_s1: exact;
            meta.hashed_address_s2: exact;
            meta.hashed_address_s3: exact;
            meta.regVals1: exact;
            meta.regVals2: exact;
            meta.regVals3: exact;
            meta.minRegVal: exact;
